@import "tailwindcss";

body {
  background-color: #FFFFFF;
  color: #1F2937;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
/* Hide Scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@theme {
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
  --color-surface: #F8F9FA;
  --color-border: #E5E7EB;
  --font-sans: 'Inter', sans-serif;
}