@import "tailwindcss";

body {
  background-color: #0f172a;
  /* dark */
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
/* Hide Scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-dark: #0f172a;
  --color-surface: #1e293b;
  --font-sans: 'Inter', sans-serif;
}